<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>
</head>
<body>
  <!-- Web Component -->
  <ui-input id="myInput" label="Custom Input" value="Hello, custom elements!"></ui-input>
  
  <!-- Vue -->
  <div id="vueApp" class="ce-mt-4">
    <my-app></my-app>
  </div>

  <!-- React -->
  <div id="reactApp" class="ce-mt-4"></div>
  
  <!-- vue-hyper -->
  <my-component></my-component>
  
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://gitcdn.link/cdn/andrewbeng89/staex/6a175d9ad19ee58486bc2c33ce8597c9bc2ab580/dist/index.browser.js"></script>
  <script>
    // Web Component
    const myInput = document.querySelector("#myInput");
    myInput.addEventListener("input", console.log);
    var onInput = console.log;

    const { reactive, readonly } = Vue;
    const store = Staex.defineStore({ reactive, readonly })({
      state: {
        inputValue: "Hello, Vue!",
        isDialogOpen: false
      },
      actions: {
        setInputValue: (state, inputValue) => {
          state.inputValue = inputValue;
        },
        setIsDialogOpen: (state, isDialogOpen) => {
          state.isDialogOpen = isDialogOpen;
        }
      }
    });

    // Vue
    const myApp = {
      template: `
        <div>
          <ui-input
            :value="inputValue"
            @input="onInput"
            label="My Vue Input"
          />
          <pre v-if="inputValue">message: {{ inputValue }}</pre>
          <button @click="onToggle">Open dialog</button>
          <ui-dialog v-if="isDialogOpen" @close="onToggle">
            <span slot="header">Dialog header</span>
            Dialog content
            <span slot="footer">Dialog footer</span>
          </ui-dialog>
          <pre>isDialogOpen: {{ isDialogOpen }}</pre>
        </div>
      `,
      setup() {
        const inputValue = Vue.computed(() => store.state.inputValue);
        const isDialogOpen = Vue.computed(() => store.state.isDialogOpen);

        const onInput = ({ target }) => {
          store.dispatch("setInputValue", target.value);
        };

        const onToggle = () => {
          store.dispatch("setIsDialogOpen", !store.state.isDialogOpen);
        };

        return { inputValue, isDialogOpen, onInput, onToggle };
      }
    };
    const app = Vue.createApp(myApp);
    app.config.isCustomElement = tag => tag.match(/^(ui-input|ui-dialog)$/);
    app.mount("#vueApp");
  </script>
  <script type="module">
    import { createElement, render, Component, h } from "https://unpkg.com/preact@latest?module";
    import { useState } from "https://unpkg.com/preact@latest/hooks/dist/hooks.module.js?module";
    import htm from "https://unpkg.com/htm?module";
    const html = htm.bind(h);
    
    const App = () => {
      const [inputValue, setInputValue] = useState("Hello, Preact!");
      const [isDialogOpen, toggleDialog] = useState(false);

      return html`
        <ui-input
          label="My Preact Input"
          value=${inputValue}
          onInput=${({ target }) => setInputValue(target.value)}
        />
        ${inputValue && html`
            <pre>Message: ${inputValue}</pre>
          `
        }
        <button onclick=${() => toggleDialog(true)}>
          Open dialog
        </button>
        ${isDialogOpen && html`
            <ui-dialog onclose=${() => toggleDialog(false)}>
              <span slot="header">Dialog header</span>
              Dialog content
              <span slot="footer">Dialog footer</span>
            </ui-dialog>
          `
        }
        <pre>isDialogOpen: ${JSON.stringify(isDialogOpen)}</pre>
      `;
    }

    const domContainer = document.querySelector("#reactApp");
    render(html`<${App} />`, domContainer);
  </script>
  <script type="module">
    import {
      defineComponent,
      html,
      reactive,
      readonly,
      onBeforeMount,
      onMounted,
      onBeforeUpdate,
      onUpdated,
      onUnmounted,
    } from "./index.esm.js";
    import { defineUiInput, defineUiDialog } from "./ui-components.js";
    defineUiInput();
    defineUiDialog();

    defineComponent({
      name: "my-display",
      setup: ({ props }) => () => html`
        <pre>message: ${props.message}</pre>
      `,
      props: ["message"]
    });

    defineComponent({
      name: "my-component",
      setup: ({ emit }) => {
        const state = reactive({
          text: "hello",
          show: false,
        });
        const toggle = () => {
          state.show = !state.show;
          emit(new CustomEvent("toggle", { detail: state.show }));
        };
        const onInput = (e) => {
          state.text = e.target.value;
        };

        onBeforeMount(() => console.log("my-component: beforeMount"));
        onMounted(() => console.log("my-component: mounted"));
        onBeforeUpdate(() => console.log("my-component: beforeUpdate"));
        onUpdated(() => console.log("my-component: updated"));
        onUnmounted(() => console.log("my-component: unmounted"));

        return () => html`
          <button onclick=${toggle}>toggle child</button>
          <p>
            <span>${state.text}</span>
            <input value=${state.text} oninput=${onInput} />
          </p>
          ${state.show ? html`<my-child msg=${state.text}></my-child>` : ``}
        `;
      },
    });

    defineComponent({
      name: "my-child",

      setup: ({ props }) => {
        const state = reactive({ count: 0 });
        const increase = () => {
          state.count++;
        };

        onMounted(() => {
          console.log("child mounted");
        });

        onUpdated(() => {
          console.log("child updated");
        });

        onUnmounted(() => {
          console.log("child unmounted");
        });

        return () => html`
          <p>${props.msg}</p>
          <p id="count">${state.count}</p>
          <button onclick=${increase}>increase</button>
        `;
      },
      useShadowDOM: false,
      props: {
        msg: {
          type: String,
          required: true
        }
      },
    });
  </script>
</body>
</html>